<script>
    let arr = ['Hello','there','this','is','it'];
    let arr1 = ['this',['op']];
    document.write(arr[4]);
    document.write(arr1[1][0]);

    let arr2 = [['james'],'bond',['parker','this']];
    document.write(arr2[2][0]);

    let arr3 = ['sdf','sdf','dfsg','dfgd'];
    document.write(arr3.length);
    
    for(let a = 0; a<arr3.length;a++){
        document.write(arr3[a] + "<br/>");
    }

    for(m in arr3){
        document.write(arr3[m] + "<br/>");
    }
</script>