<script>
    let a = ['January','February','March','April','May','June','July','August','September','October', 'November', 'December'];
</script>

<select>
    <script>
        for(m in a){
            document.write("<option>"+a[m]+"</option>");
        }
    </script>
</select>